{% extends 'todo/base.html' %}
{% load staticfiles %}
{% block body_block %}
    <div class="title">
        <h1>Add List</h1>
    </div>
    <div class="content">
        <form action="{% url 'add_list' %}" method="POST" id="list_form">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{hidden}}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{field.errors}}
                {{field.help_text}}
                {{field}} <br><br>
            {% endfor %}
            <input type="submit" name="submit" value="Create List">
        </form>
    </div>
    <div class="content">
        <h2><a style="text-decoration: none;" href="{% url 'add_category' %}">Have a new Category to add?</a></h2>
    </div>
    <div class="content">
        {% if message %}
        <strong>{{message}}</strong>
        {% endif %}
    </div>
    <div class="list">
        {% if category %}
            {% for category in category %}  
            <h2>{{category}}<a href="{% url 'del_cat' category %}"><img class="img" src="{% static "images/delete.png" %}" alt="delete image"></a><br></h2>
                  {% if todo %}
                        {% for todo in todo %}
                            {% if todo.category == category %}
                               <h3>{{todo.title}} - {{todo.content}} - {{todo.due_date}} 
                               <a href="{% url 'del_list' todo.title %}"><img class="img" src="{% static "images/delete.png" %}" alt="delete image"></a><br></h3>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            {%endfor%}
            {%else%}
                No List 
        {%endif%}
    </div>
{% endblock %}