{% extends 'todo/base.html' %}

{% block body_block %}
    <div class="title">
        <h1>Add List</h1>
    </div>
    <div class="content">
        <form action="{% url 'add_list' %}" method="POST" id="list_form">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{hidden}}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{field.errors}}
                {{field.help_text}}
                {{field}} <br><br>
            {% endfor %}
            <input type="submit" name="submit" value="Create List">
        </form>
    </div>
    <div class="content">
        {% if message %}
        <strong>{{message}}</strong>
        {% endif %}
    </div>
    <div class="list">
        {% if category %}
            {% for category in category %}  
            <h2>{{category}}<button  class='btn1' href = ""> Delete</button> </h2>
                  {% if todo %}
                        {% for todo in todo %}
                            {% if todo.category == category %}
                               {{todo.title}} - {{todo.content}} - {{todo.due_date}} 
                            <form action="{% url 'del_list' todo.title %}">
                               <button  class='btn1'> Delete</button><br>
                            </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            {%endfor%}
            {%else%}
                No List 
        {%endif%}
    </div>
{% endblock %}