{% extends 'todo/base.html' %}

{% block body_block %}
    <div class="title">
        <h1>Your List</h1>
    </div>
    <div class="content">
        {% if todo %}
        <ul>
        {% for todo in todo %}
            {% if  todo == 'Buy Groceries' %}
                <li>{{todo}}</li>
                {% if subtodo %}
                <ul>
                    {% for subtodo in subtodo %}
                    <li>{{subtodo}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% else %}
                <li>{{todo}}</li>
            {% endif %}
        {% endfor %}
        </ul>
        {% else %}
        No lists.
        {% endif %} 
    </div>
{% endblock %}