{% extends 'todo/base.html' %}

{% block body_block %}
    <div class="title">
        <h1>Your List</h1>
    </div>
    <div class="content">
        {% if category %}
        {% for category in category %}
        <ul>
            <li>{{category}}</li>
        {% for list in todo %}
        {% for main in main_todo %}
        {% if list == main.title and category == main.category.category %}
            <ul>
                <li>{{list}} - {{main.content}} - {{main.category}}  </li>
            </ul>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </ul>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}