<!DOCTYPE html>
<html>
    <head>
        <title>
            ToDo
        </title>
    </head>
    <body>
        <h1>Your List</h1>
        {% if todo %}
        <ul>
        {% for todo in todo %}
            {% if  todo == 'Buy Groceries' %}
                <li>{{todo}}</li>
                {% if subtodo %}
                <ul>
                    {% for subtodo in subtodo %}
                    <li>{{subtodo}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% else %}
                <li>{{todo}}</li>
            {% endif %}
        {% endfor %}
        </ul>
        {% else %}
        No lists.
        {% endif %} 
    </body>
</html>